#menu
	.title NWIT
	ul		
		a(href='/home')
			li	home
		a(href='/home')
			li	about
		a(href='/home')
			li	blog
		a(href='/home')
			li	faq
		a(href='/home')
			li	pricing
		a(href='/home')
			li	contact