!!!5
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/wedding/style.css')
		
	body
		.page			
			.menu
				.heading
					p Welcome
				ul
					a(href='/wedding/detailsandlocation')
						li details and location
					a(href='/wedding/phots')
						li Photos
					a(href='/wedding/rsvp')
						li RSVP
					a(href='/wedding/giftregistry')
						li Gift Registry
			table
				tr(class='head')
					td gift
					td notes
					td qty
					td 
				tr
					td Rice Cooker
					td Any brand will do
					td 0/1
					td
						button(style='float: right') register
				
		.footer
			.right
				p Mob: 0402750274 
				p Ph: (07) 55226401 
				p Email: dominic_asley@hotmail.com