!!!5
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/homeStyle.css')			
		script(src='/scripts/jquery-2.0.2.min.js')
		script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true')
		script(src='/scripts/search.js')
		
	body
		.homePage
			.homeSearch
				.homeTitle
					.t T 
					.tour our
					.au AU
				input(type='text', placeholder='Distance Kms', id='params', onkeypress="if (event.keyCode==13){window.location='/search?q='+this.value}")

		.footer
			p Team 48 - GOVHACK 2013